<!DOCTYPE html>
<html lang="en">
  <%- include("../partial/head.ejs") %>
  <body>
    <div class="error-template">
      <div class="error-code">404</div>
      <div class="error-message">Oops! Page Not Found</div>
      <div class="error-description">
        Sorry, but the page you are looking for does not exist, has been
        removed, or is temporarily unavailable.
      </div>
      <button class="btn btn-back" onclick="window.history.back()">
        Go Back
      </button>
    </div>
  </body>
</html>
