<!DOCTYPE html>
<html lang="en">
  <%- include("../partial/head.ejs") %>
  <body style="background: linear-gradient(120deg, #494a4b, #243b55)">
    <a href="/">
      <button class="backBtn">Back</button>
    </a>
    <div class="container">
      <h1 class="text-center textHeader" style="margin: 2rem 0">
        I see!. feel free to contact-us
      </h1>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
          style="background-color: #84a98c"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >What you have in your mind</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="Write something here!"
          style="background-color: #84a98c"
        ></textarea>
        <div class="btnContainer">
          <button class="sendBtn">Send</button>
        </div>
      </div>
    </div>
    <!-- <div class="container login-box">
      <h2>I see . feel free to contact us! :)</h2>
      <form>
        <div class="user-box">
          <input type="text" name="" required="" />
          <label>Email</label>
        </div>
        <div class="user-box">
          <input type="password" name="" required="" />
          <label>What you have in your mind</label>
        </div>
        <a href="#"> Submit </a>
      </form>
    </div> -->
  </body>
</html>
