<!DOCTYPE html>
<html lang="en">
  <%- include("../partial/head.ejs") %>
  <body style="background-color: #e4c1f9">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div
          class="carousel-item active"
          id="#myCarousel"
          data-bs-interval="10000"
        >
          <img
            src="../Assets/Image/fourth.jpg"
            class="d-block w-100 images"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h2 style="color: white; font-weight: bold">Audi R8</h2>
            <p style="color: #264653">
              The Audi R8 is a mid-engine, 2-seater sports car, which uses
              Audi's trademark quattro permanent all-wheel drive system. It was
              introduced by the German car manufacturer Audi AG in 2006.
            </p>
          </div>
        </div>
        <div class="carousel-item" id="#myCarousel" data-bs-interval="2000">
          <img
            src="../Assets/Image/fifth.png"
            class="d-block w-100 images"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h2 class="text-white">Dodge Viper</h2>
            <p class="text-white">
              The Dodge Viper is a sports car that was manufactured by Dodge, a
              division of American car manufacturer FCA US LLC from 1992 until
              2017, having taken a brief hiatus in 2007, and from 2010 to 2012
            </p>
          </div>
        </div>
        <div class="carousel-item" id="#myCarousel">
          <img
            src="../Assets/Image/sixth.png"
            class="d-block w-100 images"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h2 class="text-white">Porsche Taycan</h2>
            <p class="text-white">
              The Porsche Taycan is a battery electric saloon and shooting brake
              produced by German automobile manufacturer Porsche. The concept
              version of the Taycan, named the Porsche Mission E, debuted at the
              2015 Frankfurt Motor Show.
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
